include LICENSE
include README.md
include requirements.txt
include pyproject.toml
include .bumpversion.cfg

recursive-include src *.py
recursive-include tests *.py
recursive-include examples *.py
recursive-include docs *.rst *.py
recursive-include docs/source/_static *

prune */__pycache__
global-exclude *.py[cod] *$py.class